.cta{
    font-weight: 500;
font-size: 16px;
line-height: 22px;
background: #3476DA;
border-radius: 100px;
padding: 12px 32px;
color: white;
display: inline-block;
}
.disabled{
    user-select: none;
    background: #828282;
}
