// COLORS
$black: #2B2B2B;
$bg-black:#212121;
$blue: #3476DA;
$gray: #808184;
$maroon: #D72027;
$text-hover: #6F1220;
$red: #C6322D;
$dark-gray: #333333;
$light-gray: #666666;
$black-normal: #000000;
$white: #ffffff;
$background-gray: #F7F7F7;
$background-gray-medium: #F6F6F6;
$background-gray-dark: #F3F3F4;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;